.mandiri-order-detail-wrapper ,
.mandiri-detail-wrapper {
	border:none;
}

.mandiri-order-detail-wrapper .form-disabled .form-text,
.mandiri-detail-wrapper .form-disabled .form-text {
	border:none !important;
	background:#f7f7f7 !important;
	padding:0 !important;	
}

.mandiri-order-detail-wrapper .form-text,
.mandiri-detail-wrapper .form-text {
	width:200px;
}

.mandiri-detail-wrapper {
	margin-top:50px;
}

.mandiri-detail-wrapper legend span{
	background:none !important;
	padding-left:0 !important;
}

.mandiri-order-detail-wrapper label,
.mandiri-detail-wrapper label {
	float:left;
	width:300px;
	padding:0;
	margin:5px 0px;
}

.mandiri-detail-wrapper .fieldset-wrapper {
	margin-top:10px;
}

.mandiri-order-detail-wrapper .description,
.mandiri-detail-wrapper .description {
	margin-left:300px;
	font-style:italic;
	color:#545454;
}
